<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheets/login.css">

    <!-- The welcome struct (shown in the main.go code) is received within the HTML and we just need to use the . operator and retrieve the information we want -->
    <title>Welcome</title>
</head>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      {{if .Success}}
      <h1>Thanks for your participation!</h1>
      {{else}}
      <a href="login"> <h2 class="inactive underlineHover"> Sign In </h2></a>
      <h2 class="active ">Sign Up </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="/static/stylesheets/user.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form method="POST">
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="username">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Sign Up">
      </form>
  
      <!-- Remind Passowrd -->
     
      {{end}}
    </div>
  </div>